.container {
  box-shadow: 0px 5px 40px 5px rgba(184, 20, 199, 0.4);

  .container_wrapper {
    margin: 0 auto;
    box-sizing: content-box;
    max-width: 1280px;
    padding: 24px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .navigation {

      .menu {
        padding: 16px;
        font-size: 16px;
        width: 180px;
        border: none;
        position: relative;

        @media (min-width: 768px){
          display: none;
        }

        .showMenuButton {
          background-color: inherit;
          padding: 10px 8px;
          border: 1px solid rgb(184, 20, 199);
          width: 100px;
          font-weight: bold;
          text-align: center;
          cursor: pointer;

          &:hover {
            background-color: rgb(184, 20, 199);
            color: black;
          }

          &:focus {
            background-color: rgb(184, 20, 199);
            color: black;
          }
        }

        .dropdown_content {
          margin: 0;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          border: 3px solid rgb(184, 20, 199);
          width: inherit;
          position: absolute;
          top: 38px;
          left: 2px;
          z-index: 1;
          background-color: black;

          &_container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 160px;
            padding: 10px;
            cursor: pointer;

            &:hover{
              opacity: 0.92;
            }

            &:not(:last-child){
              border-bottom: 3px solid rgb(184, 20, 199);

            }

            ul {
              display: flex;
              flex-direction: column;
              text-align: left;
              align-items: flex-end;

              .green {
                color: green;
                font-size: 10px;
              }

              .red {
                color: red;
                font-size: 10px;
              }
            }
          }
        }
        .none {
          display: none;
        }
      }



      &_list {
        display: flex;
        flex-direction: row;
        align-items: center;

        @media (max-width: 768px){
          display: none;
        }

        li:not(:last-child)  {
          margin-right: 50px;
        }

        li {
          cursor: pointer;
          font-size: 28px;
          display: flex;
          flex-direction: column;

          span {
            font-size: 16px;
          }

          .green {
            color: green;
            font-size: 12px;
          }

          .red {
            color: red;
            font-size: 12px;
          }

          &:hover {
            opacity: 0.75;
          }
        }
      }
    }

    .case {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;

      &:hover {
        opacity: 0.75;
      }

      &_image {
        width: 50px;
        height: 50px;
      }

      &_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 6px;

        .green {
          color: green;
          font-size: 14px;
        }

        .red {
          color: red;
          font-size: 14px;
        }

        &_title {
          font-weight: bold;
          font-size: 24px;
        }

        &_subtitle {
          font-style: italic;
          color: burlywood;
        }

      }
    }
  }

}
