.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  position: relative;
  cursor: pointer;

  img {
    width: 40px;
    height: 40px;
  }

  .profile_visibility {
    display: block;
    position: absolute;
    top: 60px;

    .button {
      width: 200px;
      color: black;
    }
  }
}

.none {
  display: none;
}

.visibility {
  display: block;
  position: absolute;
  top: 45px;
}