.container {
  background: #1b1b1b;
  margin: 0 auto;
  width: 100%;
  min-height: 31vh;
  bottom: 0;

  .container_wrapper {
    padding: 30px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    text-transform: uppercase;
    font-size: 20;
    font-weight: 400;
    line-height: 1.48vh;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 20px;

    .footer_social {
      margin-bottom: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 300px;

      .icons {
        list-style: none;
        cursor: pointer;
      }

    }

    .footer_center {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .footer_bottom ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 340px;
        margin-top: 20px;
      }
    }


    ul {
      margin: 0 0;
      padding: 0 0;
      color: #fff;
      list-style: none;
    }

    .footer_li {
      padding: 5px 0px;
      line-height: 24px;
    }

    .line {
      display: block;
      margin-right: auto;
      align-self: flex-start;
      height: 2px;
      background-color: #fff;
      width: 100%;
      margin-bottom: 5px;
    }
  }

  .production {
    color:cyan;
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding-bottom: 10px;
  }
}