.case {

  &_header {
    width: 100%;
    border-bottom: 3px solid rgb(184, 20, 199);
    ul{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      margin-top: 10px;
      padding-bottom: 10px;
      width: 76%;
      font-size: 22px;
      font-weight: bold;

      li{
        width: 220px;
        text-align: center;
      }
    }
  }

  &_title {
    text-align: center;
    border-bottom: 4px solid;
    padding-bottom: 20px;
  }

  &_card {
    margin-top: 36px;
    padding-bottom: 36px;
    border-bottom: 3px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  &_button {
    pointer-events: painted;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
    border: 1px solid rgb(184, 20, 199);
    margin-right: 20px;
    &:hover {
      background-color: rgb(184, 20, 199);
      color: black;
    }

  }

  input{
    padding: 10px;
    border-radius: 5px;
    background-color: inherit;
  }
}

.red {
  color: red;
  font-size: 12px;
}

.green {
  color: green;
  font-size: 12px;
}