.container {

  &_wrapper {
    box-sizing: content-box;
    max-width: 1280px;
    margin: 0 auto;

    .table {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;

      @media (max-width: 768px){
        margin-right: 12px;
        margin-left: 12px;
      }

      &_content {
        width: 100vw;

        &_title {
          color: #ffff;
          font-weight: bold;
          font-size: 46px;
          margin-bottom: 40px;
          margin-top: 60px;

          @media (max-width: 768px){
            font-size: 24px;
          }
        }
      }


      &_header {
        background-color: rgb(184, 20, 199);

        &_column {
          color: black;
          padding: 20px;

          &:not(:first-child){
            text-align: right;
          }

          &:first-child {
            border-top-left-radius: 24px;
            text-align: left;
          }

          &:last-child {
            border-top-right-radius: 24px;
          }

          &:not(:last-child, :first-child){

            @media (max-width: 420px){
              display: none;
            }
          }
        }
      }

      &_body {
        cursor: pointer;
        border: none;

        &_item_adaptive {
          @media (max-width: 768px){
            display: none;
          }
        }

        &_item {
          padding: 28px;
          border-bottom: 1px solid #fff;

          @media (max-width: 768px){
            padding: 10px;
          }

          &:not(:first-child) {
            text-align: right;
          }

          &:not(:last-child, :first-child){

            @media (max-width: 420px){
              display: none;
            }
          }

          &:last-child {
            cursor: default;


            @media (max-width: 768px){
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
            }
          }


          &:first-child {
            text-align: left;
          }

          .add_button {
            display: none;

            &:hover {
              background-color: rgb(184, 20, 199);
              color: black;
            }

            @media (min-width: 768px){
              pointer-events: painted;
              cursor: cell;
              border-radius: 50%;
              width: 24px;
              height: 24px;
              border: 1px solid rgb(184, 20, 199);
              display: flex;
              align-items: center;
              justify-content: center;

            }
          }

          .more {
            display: none;

            @media (max-width: 768px){
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              padding: 10px;
              border: 1px solid rgb(0, 119, 255);
            }
          }
        }

      }
    }
  }
}

.green {
  color: green;
}

.red {
  color: red;
}
